<div class="container">
    <h1>Registro de usuario</h1>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="numero">Nombre</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required minlength="3"
                #nombre="ngModel">
            <div class="error" *ngIf="nombre.invalid && nombre.touched">
                El nombre es obligatiiro y debe tener al menos 3 caracteres
            </div>

        </div>
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)] = "usuario.email" required #email="ngModel">
            
            <div class="error" *ngIf="email.invalid && email.touched">
                Ingresa un correo valido
            </div>
        </div>
        <!--- edad-->
        <div class="form-control">
            <label for="edad">Edad</label>
            <input type="number" id="edad" name="edad" [(ngModel)] = "usuario.edad" required min="18" #edad="ngModel">
            
            <div class="error" *ngIf="edad.invalid && edad.touched">
                debes tener al menos 18 años
            </div>
        </div>
        <button
        [disabled] = "formulario.invalid"
        type="submit"
        >
        Enviar</button>
    </form>
    <h3>Datos Actuales</h3>
    <pre>
        {{usuario | json}}
    </pre>
</div>