<h1>Directivas Estructurales</h1>
<!--
<h3>Panel de usuario</h3>
<div [ngSwitch]="rolUsuario">
  <p *ngSwitchCase="'admin'">Eres Administrador</p>
  <p *ngSwitchCase="'user'">Eres un usuario normal</p>
  <p *ngSwitchCase="'invitado'">Eres un invitado</p>
  <p *ngSwitchDefault>Rol desconocido</p>
</div>

<p [ngClass]="{'Importante' : tareaImportante}">
  Esta tarea es importante
</p>

<p [ngStyle] = "{color: isUrgente? 'red':'green', fontSize:'18px'}">
  Esta es una tarea urgente!
</p>
-->
<app-products-manager></app-products-manager>